<?xml version="1.0" ?>
<routes>
  <vType id="car" accel="2.5" decel="4.5" length="5" maxSpeed="13.89"/>
  <flow id="flow_1_in_to_3_out_lane0" from="1_in" to="3_out" begin="0" end="3600" number="678"/>
  <flow id="flow_1_in_to_3_out_lane1" from="1_in" to="3_out" begin="0" end="3600" number="678"/>
  <flow id="flow_1_in_to_4_out_lane0" from="1_in" to="4_out" begin="0" end="3600" number="267"/>
  <flow id="flow_3_in_to_1_out_lane0" from="3_in" to="1_out" begin="0" end="3600" number="650"/>
  <flow id="flow_3_in_to_1_out_lane1" from="3_in" to="1_out" begin="0" end="3600" number="650"/>
  <flow id="flow_3_in_to_4_out_lane1" from="3_in" to="4_out" begin="0" end="3600" number="468"/>
  <flow id="flow_4_in_to_1_out_lane1" from="4_in" to="1_out" begin="0" end="3600" number="188"/>
  <flow id="flow_4_in_to_3_out_lane0" from="4_in" to="3_out" begin="0" end="3600" number="489"/>
</routes>
